<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Favicon for most browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png"/>
    <link rel="shortcut icon" href="favicons/favicon.ico"/>
    <!-- Apple touch icon (iOS home screen) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png"/>
    <!-- Manifest for PWA / Android -->
    <link rel="manifest" href="/site.webmanifest"/>
    <!-- Optional meta -->
    <meta name="theme-color" content="#2a2a2a"/> <!-- matches your branding -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ Title }}</title>

    <meta name="description" content="{{ Description }}" />

    <link rel="canonical" href="https://gw2unlocks.com{{ Url }}" />

    {{ if NoIndex }}  
    <meta name="robots" content="noindex,follow" />
    {{ end }}

    <style>
      {{ Css }}
    </style>
  </head>

  <body>
      <button id="menu-toggle" class="menu-toggle" aria-label="Toggle menu">
          ☰
      </button>
      <div class="layout">
          <div class="sidebar" id="sidebar">
              <div class="api-row">
                  <div class="api-input-group">
                      <label for="apikey">
                          <a href="https://account.arena.net/applications"
                             target="_blank"
                             rel="noopener noreferrer">
                              GW2 API Key
                          </a>

                          <span class="api-requirements">
                              (requires Unlocks + Progression)
                          </span>
                      </label>
                  </div>

                  <div class="api-status">
                      <img id="status-icon"
                           src="/img/wait_a_bit.png"
                           alt="Waiting" />
                  </div>
              </div>

              <input id="apikey"
                     type="text"
                     autocomplete="off"
                     aria-label="Guild Wars 2 API Key" />

              <div class="sidebar-actions">
                  <a href="https://github.com/bennieboj/Gw2Unlocks/issues"
                     target="_blank"
                     rel="noopener noreferrer"
                     class="top-btn github">
                      <img src="/img/bug.png" alt="bug_icon" /> Report Issue
                  </a>

                  <a href="https://ko-fi.com/bennieboj"
                     target="_blank"
                     rel="noopener noreferrer"
                     class="top-btn kofi">
                      <img src="/img/kofi_symbol.svg" alt="kofi_icon" /> Support me on Ko-Fi
                  </a>
              </div>


              <div class="group-link" data-group="all">
                  <a href="/">
                      All Unlocks
                      (<span class="sidebar-unlocked">?</span> / <span class="sidebar-total">total</span>)
                  </a>
              </div>
              {{ for group in Sidebar }}
              <div class="group-link" data-group="{{ group.Slug }}">
                  <a href="{{ group.Url }}">
                      {{ group.Name }}
                      (<span class="sidebar-unlocked">?</span> / <span class="sidebar-total">total</span>)
                      {{ if group.IsWip }}
                      <img class="wip-icon"
                           src="/img/wip.png"
                           alt="Work in progress"
                           title="Work in progress" />
                      {{ end }}
                  </a>
              </div>

              {{ for category in group.Categories }}
              <div class="category-link" data-category="{{ category.Slug }}">
                  <a href="{{ category.Url }}">
                      {{ category.Name }}
                      (<span class="sidebar-unlocked">?</span> / <span class="sidebar-total">total</span>)
                      {{ if category.IsWip }}
                      <img class="wip-icon"
                           src="/img/wip.png"
                           alt="Work in progress"
                           title="Work in progress" />
                      {{ end }}
                  </a>
              </div>
              {{ end }}
              {{ end }}
          </div>
          <div class="content">
              <h1>{{ Title }}</h1>
              {{ for type in TypeGroups }}
              <div class="type-title"
                   data-total="{{ type.Total }}">
                  {{ type.Label }}
                  (<span class="type-unlocked">?</span> / {{ type.Total }}) <span class="type-percent">0%</span>
              </div>
              <div class="grid">
                  {{ for u in type.Unlocks }}
                  <div class="item"
                       tabindex="0"
                       role="button"
                       aria-label="{{ u.Name | html.escape }}"
                       data-id="{{ u.Id }}"
                       data-icon="{{ u.IconUrl }}"
                       data-type="{{ u.Type }}"
                       data-name="{{ u.Name | html.escape }}"
                       data-requirement="{{ u.Requirement | html.escape }}"
                       data-wiki="{{ u.WikiUrl }}">
                      <div class="icon-wrap">
                          <img src="{{ u.IconUrl }}" alt="{{ u.Name | html.escape }}" />
                          {{ if u.RewardIcon != null }}
                          <div class="reward-badge">
                              <img src="{{ u.RewardIcon }}"
                                   alt="{{ u.RewardName | html.escape }}"
                                   title="{{ u.RewardName | html.escape }}" />
                          </div>
                          {{ end }}
                      </div>
                      <div class="item-name">
                          {{ u.Name | html.escape}}
                      </div>
                  </div>
                  {{ end }}
              </div>
              {{ end }}
          </div>
      </div>
      <div class="modal-backdrop" id="modal">
          <div class="modal">
              <h2 id="modal-name"></h2>
              <img id="modal-icon" alt="" />
              <div id="modal-requirement"></div>
              <div class="modal-actions">
                  <a id="wiki-link" target="_blank" rel="noopener noreferrer">
                      Open Wiki
                  </a>
                  <button id="close-modal">
                      Close
                  </button>
              </div>
          </div>
      </div>
      <script id="unlock-map" type="application/json">
      {{ UnlockMapJson }}
      </script>
      <script>
      {{ Js }}
      </script>
      <footer class="site-footer">
           
          <div class="footer-legal">
              ©2010–2026 ArenaNet, LLC. All rights reserved. Guild Wars, Guild Wars 2,
              Guild Wars 2: Heart of Thorns, Guild Wars 2: Path of Fire,
              Guild Wars 2: End of Dragons, Guild Wars 2: Secrets of the Obscure,
              Guild Wars 2: Janthir Wilds, Guild Wars 2: Visions of Eternity,
              ArenaNet, NCSOFT, the Interlocking NC Logo, and all associated logos
              and designs are trademarks or registered trademarks of NCSOFT Corporation.
              All other trademarks are the property of their respective owners.
          </div>

          <div class="footer-made-with">
              Made with
              <img src="/img/love.png" alt="Love" />
              and
              <img src="/img/tech.png" alt="Technology" />
              in Tyria.
          </div>

      </footer>
  </body>
</html>